CMakeLists.txt.user
CMakeLists.txt.user.*
Libs
Unsorted
ipch
/KVEngine.sdf
/KVEngine.suo
*.o
*.log
/build
/knv
/Release/knv
/Release/errorfile.txt
/clientmap (2).map
/clientmap.map
/Debug/*.obj
/Debug/*.tlog
/Debug/*.map
/Debug/*.dll
/Debug/errorfile.txt
/Debug/icons/top_overlay.png
/Debug/KVEngine.exe
/Debug/KVEngine.exe.embed.manifest
/Debug/KVEngine.exe.embed.manifest.res
/Debug/KVEngine.exe.intermediate.manifest
/Debug/KVEngine.ilk
/Debug/KVEngine.lastbuildstate
/Debug/KVEngine.pdb
/Debug/KVEngine_manifest.rc
/Debug/sounds/click.ogx
/Debug/sounds/jump.ogx
/Debug/sounds/step.wav
/Debug/sounds/work_boots_jump_on_plastic_tarpaulin.mp3
/Debug/sounds/work_boots_skid_on_leaves.mp3
/Debug/vc100.idb
/Debug/vc100.pdb
/Design.zip
/errorfile.txt
/K&V.zip
/K&V/clientmap.map
/K&V/errorfile.txt
/K&V/font.ttf
/K&V/icons/adam_down.png
/K&V/icons/bee.jpeg
/K&V/icons/blood.png
/K&V/icons/cockmeat.png
/K&V/icons/cup.png
/K&V/icons/deer.png
/K&V/icons/fire.png
/K&V/icons/fire_anim.png
/K&V/icons/fire_mine.png
/K&V/icons/firehoney.png
/K&V/icons/food.dmi
/K&V/icons/ghost.png
/K&V/icons/golems2.bmp
/K&V/icons/ground_down.png
/K&V/icons/honey.png
/K&V/icons/kivsjak.png
/K&V/icons/kivtek.png
/K&V/icons/man.png
/K&V/icons/meat.png
/K&V/icons/ork.png
/K&V/icons/peregnoj.png
/K&V/icons/peregnojtek.png
/K&V/icons/petrol.png
/K&V/icons/pit.png
/K&V/icons/projectiles.dmi
/K&V/icons/rock.png
/K&V/icons/rooster.png
/K&V/icons/space.dmi
/K&V/icons/spear.png
/K&V/icons/teleportator.png
/K&V/icons/top_overlay.png
/K&V/icons/tree.png
/K&V/icons/turf.png
/K&V/icons/walls.dmi
/K&V/icons/water.bmp
/K&V/icons/water.png
/K&V/icons/weed.png
/K&V/icons/whatcat.png
/K&V/icons/woman.png
/K&V/jpeg.dll
/K&V/KVEngine.exe
/K&V/libfreetype-6.dll
/K&V/libfreetype.dll
/K&V/libpng12-0.dll
/K&V/libsndfile-1.dll
/K&V/libtiff-3.dll
/K&V/msvcp100.dll
/K&V/OpenAL32.dll
/K&V/SDL.dll
/K&V/SDL_image.dll
/K&V/SDL_net.dll
/K&V/SDL_ttf.dll
/K&V/sfml-audio-2.dll
/K&V/sfml-system-2.dll
/K&V/sounds/click.ogx
/K&V/sounds/jump.ogx
/K&V/sounds/step.wav
/K&V/sounds/work_boots_jump_on_plastic_tarpaulin.mp3
/K&V/sounds/work_boots_skid_on_leaves.mp3
/K&V/start.bat
/K&V/zlib1.dll
/griefly-server/griefly-server.exe
/KVEngine.opensdf
/Release/*.obj
/Release/*.tlog
/Release/*.map
/Release/*.dll
/Release/KVEngine.exe
/Release/KVEngine.exe.intermediate.manifest
/Release/KVEngine.lastbuildstate
/Release/KVEngine.pdb
/Release/makehrtf.exe
/Release/openal-info.exe
/Release/Saves/
/Release/sounds/work_boots_jump_on_plastic_tarpaulin.mp3
/Release/sounds/work_boots_skid_on_leaves.mp3
/Release/vc100.pdb
/Server.zip
/sources.zip
/release/mainmap
Release Fast
/exec/KVEngine.exe
/exec/KVEngine
/exec/KVEngine.pdb
/exec/*.dll
/exec/Saves/
/exec/errorfile.txt
Release
Saves
/exec.zip
/CMakeLists.txt.user.PW6104
/exec/stdout.txt
/exec/debug_reports
/exec/platforms
/metadata.json
/sources/AutogenMetadata.cpp
/exec/metadata.json
/exec/Launcher.exe
/exec/Launcher
/griefly-server/dumps
/griefly-server/db-local
/griefly-server/server_starter.bat
/griefly-server/server_starter.bat - Shortcut.lnk
/exec/stderr.txt
*~
/exec/atmos_test
/exec/atmos_test.gen
/gopath/src/griefly-server/*.exe
/exec/*.gen
