language: cpp
sudo: required
dist: trusty
compiler: gcc
before_install:
  - export CXX="g++-4.9"
install:
  - eval "$(gimme 1.6)"
  - sudo add-apt-repository -y ppa:ubuntu-toolchain-r/test
  - sudo apt-get update -qq
  - sudo apt-get install -y g++-4.9
  - sudo apt-get install -y qtbase5-dev
  - sudo apt-get install -y qtmultimedia5-dev
  - sudo apt-get install -y lcov
  - gem install coveralls-lcov
before_script:
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"
  - sleep 3
script:
  - ./make.sh -DBUILD_TESTS=ON -DBUILD_COVER=ON -DCMAKE_BUILD_TYPE=Debug
  - cd exec
  - ./KVEngine --run-tests
after_success:
  - cd ${TRAVIS_BUILD_DIR}
  - lcov -c -d . -o coverage.info
  - lcov --remove coverage.info '/usr/*' --output-file coverage.info # filter out system code
  - lcov --remove coverage.info 'tests/*' --output-file coverage.info # remove tests from coverage
  - lcov --remove coverage.info '/griefly/build/*' --output-file coverage.info # remove gtest and generated code from coverage
  - lcov --list coverage.info # debug before upload
  - coveralls-lcov --repo-token=${COVERALLS_TOKEN} coverage.info # uploads to cov
